.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header starts */
.header {
  height: 80px;
}

.header .logo {
  height: 80px;
}

.header .logo a{
  color: white;
  font-size: 30px;
  height: 80px;
  align-items: center;
  display: flex;
}

.header .logo a:hover{
  text-decoration: none;
}

.header ul {
  align-items: center;
  margin-bottom: 0px;
}

.header ul li {
  list-style: none;
}

.header ul li a{
  font-size: 20px;
}

.header ul li a:hover {
  text-decoration: none;
}

.header ul li .first {
  color: white;
}

.header ul li .second, .header ul li .third {
  color: #797c7e;
}
/* Header ends */

/* Welcome starts */
.welcome {
  margin-top: 150px;
}

.welcome h1 {
  font-size: 70px;
  font-weight: bold;
}

.welcome p {
  font-size: 25px;
}

.welcome button {
  height: 60px;
  width: 180px;
  font-size: 25px;
}
/* Welcome ends */

/* Item starts */
.item {
  margin-top: 150px;
}
.item .icon {
  height: 80px;
  width: 80px;
  align-items: center;
  background-color: #277dfd;
  border-radius: 10px;
}

.item .icon i {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-left: 15px;
}

.item h6 {
  font-size: 30px;
  font-weight: bold;
}

.item p {
  font-size: 20px;
}
/* Item ends */

/* Footer starts */
.footer {
  height: 100px;
}

.footer p {
  padding-top: 25px;
  font-size: 22px;
}
/* Footer ends */
